<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="loginSignup">
      <img class="main-image desktop-main-image" src="../../assets/Images/searchimage(2).jpg" />
      <div class="mobile-image">
        <img class="main-image-mobile" src="../../assets/Images/mobileimage.png" />
      </div>
      <div class="scroll-wrapper">
      <div class="container-login">
        <div class="login-signup-container">
        <div class="">
            <h1 class="logo-style">Forgot Password?</h1>
        </div>
          <div class="">
            <p class="Text1">We will generate an OTP and send it to your phone number to create new password:</p>
          </div>
          <div class="form-container">
            <div class="login-form">
              <form [formGroup]="forgotpasswordForm" (ngSubmit)="onSubmit()">
                <img class="phone-img" src="../../assets/Images/icons8-phone-30.png" />
                <input 
                  type='text' 
                  (specialCharacters)="['+']"
                  placeholder="+92 xxx xxxxxxx" 
                  mask="+00 000 0000000" 
                  [style.border-color]="userPhoneF?.invalid && userPhoneF?.touched ? 'red' : ''" 
                  formControlName="userPhone" />      
                <button type="submit" class="loginbtn">Signup</button>
                <div id="sign-in-button"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </body>
</html>
