<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="loginSignup">
      <img class="main-image desktop-main-image" src="../../assets/Images/searchimage(2).jpg" />
      <div class="mobile-image">
        <img class="main-image-mobile" src="../../assets/Images/mobileimage.png" />
      </div>
      <div class="container-login">
        <div class="login-signup-container">
          <div class="btn-wrapper">
            <button class="btn active">Login</button>
            <button class="btn" id="signupBtn" (click)="goToSignup()">Sign Up</button>
          </div>
          <div class="">
            <h1 class="logo-style">Lost & Found</h1>
          </div>
          <div class="form-container">
            <div class="login-form">
              <form [formGroup]="loginForm" (ngSubmit)="validateLogin()">
                <img class="email-img" src="../../assets/Images/icons8-phone-30.png" />
                <input 
                  type="text" 
                  placeholder=" x xxx xxxxxxx" 
                  (specialCharacters)="['+']"
                  placeholder="+92 xxx xxxxxxx" 
                  mask="+00 000 0000000" 
                  [style.border-color]="userPhoneF?.invalid && userPhoneF?.touched ? 'red' : ''" 
                  formControlName="userPhone"/>
                <img class="pass-img" src="../../assets/Images/icons8-password-30.png" />
                <input 
                  type="password" 
                  id="passwordField" 
                  placeholder="Enter your Password" 
                  formControlName="userPassword"
                  [style.border-color]="userPasswordF?.invalid && userPasswordF?.touched ? 'red' : ''"
                  type="{{ isPasswordVisible? 'text' : 'password' }}"/>       
                <button id="togglePassword" (click)="viewPassword()">
                  <img
                  [src]="isPasswordVisible ? '../../assets/Images/icons8-visible-30.png' : '../../assets/Images/icons8-invisible-30.png'"
                  alt="Show Password"
                  id="toggleImage"
                  />
                </button>
                <div class="extraoptions">
                  <label class="remembermebtn">
                    <input type="checkbox" name="rememberMe" class="rememberMebox" > Remember Me
                  </label>
                  <button class="fogotbtn">Forgot Password?</button>
                </div>
                <button type="submit" class="loginbtn" >Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
