<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="lostandfound-homepage">
      <div class="header-container">
        <div class="header-flexbox">
          <div class="logoimg">
            <img src="../../assets/Images/Group 2.png" />
          </div>
          <div class="items-flexbox">
            <div class="notification-icon">
              <img src="../../assets/Images/icons8-bell-50.png" />
            </div>
            <div class="logout-icon">
              <img src="../../assets/Images/icons8-logout-50 (1).png" />
            </div>
            
            <div class="image-username-flex">
              <img (click)="goto('/myprofilepage')" src="../../assets/Images/Ellipse 1.png" />
              <div class="heading-block">             
                  <h6>David Parker</h6>
                <p>@username</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inner-content-container">
        <div class="side-container">
          <div class="navigation-container">
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-cross-45.png" />
              <p (click)="goto('/lostitemspage')">Lost Items</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-search-45.png" />
              <p (click)="goto('/founditemspage')">Found Items</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-user-45.png" />
              <p (click)="goto('/mypostspage')">My Items</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-create-45.png" />
              <p (click)="goto('/createpostspage')">Create Posts</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-user-45.png" />
              <p (click)="goto('/myprofilepage')">My Profile</p>
            </div>
            <div class="navigation-link">
              <img (click)="goto('/saveditemspage')" src="../../assets/Images/icons8-pin-50.png" />
              <p>Saved</p>
            </div>
          </div>
        </div>
        <div class="inner-content-div">
          <div class="design-container">
            <div class="items-div">
              <img src="../../assets/Images/Group 10.png" />
              <div class="">
                <p>Lost Items</p>
                <p class="number">217</p>
              </div>
            </div>
            <div class="items-div">
              <img src="../../assets/Images/Group 11.png" />
              <div class="">
                <p>Found Items</p>
                <p class="number">186</p>
              </div>
            </div>
            <div class="items-div">
              <img src="../../assets/Images/Group 12.png" />
              <div class="">
                <p>Items Delivered</p>
                <p class="number">20</p>
              </div>
            </div>
            <div class="items-div">
              <img
                src="../../assets/Images/closed-box-icon-isolated-background-flat-pictogram-business-marketing-internet-flat-style_599062-3372 1.png"
              />
              <div class="">
                <p>Total Posts</p>
                <p class="number">230</p>
              </div>
            </div>
          </div>

          <!-- My Feed Component -->
          <div class="post-side-container">
            <div class="my-dashboard">
              <div class="my-dashborad-post">
                <div class="my-post" *ngFor="let item of myObject.$values">
                   <div class="my-profile-detail">
                      <img src="../../assets/Images/Ellipse 4.png">
                      <div class="my=profile-content">
                          <p>{{item.username}}</p>
                          <p class="details-username">@{{item.username}}</p>
                      </div>
                   </div>
                   <div class="my-feed">
                      <div class="my-feed-grid">
                        <ngb-carousel *ngIf="item.imageUrls.length > 0">
                          <ng-template ngbSlide *ngFor="let imageUrl of item.imageUrls; let i = index">
                            <div class="picsum-img-wrapper">
                              <img [src]="imageUrl" [alt]="'Slide ' + (i + 1)" (dblclick)="toggleHeart(item)"/>
                            </div>
                          </ng-template>
                        </ngb-carousel>
                          <div class="icon-btns">
                            <div class="row">
                              <div class="column">
                                <img [src]="item.isHeartToggled ? '../../assets/Images/heart - toggle.png' : '../../assets/Images/heart.png'" (click)="toggleHeart(item)">
                                <img src="../../assets/Images/chat (2).png">
                                <img src="../../assets/Images/send.png">
                              </div>
                              <div class="column">
                                <img (click)="viewPostDeatils('/postdetailspage',item.id)" src="../../assets/Images/info.png">
                                <img style="margin-left: 0px; margin-right: -0px;" [src]="isSaveToggled ? '../../assets/Images/save-instagram - Copy.png' : '../../assets/Images/save-instagram.png'" (click)="toggleSave()">
                              </div>
                            </div>
                          </div>
                          <p class="post-descrp">{{item.description}}</p>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="blue-design-div">
                <img src="../../assets/Images/blue.png">
                <h1>FOUND ITEMS...</h1>
              </div>
            </div>  
          </div>
        </div>
    </section>
  </body>
</html>