<div ngToastHolder></div>

<!DOCTYPE html>
<html lang="en">
  <body>
    <section class="loginSignup">
      <img class="main-image desktop-main-image" src="../../assets/Images/searchimage(2).jpg" />
      <div class="mobile-image">
        <img class="main-image-mobile" src="../../assets/Images/mobileimage.png" />
      </div>
      <div class="container-login">
        <div class="login-signup-container">
          <div class="btn-wrapper">
            <button class="btn active1">Login</button>
            <button class="btn" id="signupBtn" (click)="goToSignup()">Sign Up</button>
          </div>
          <div class="">
            <h1 class="logo-style">Lost & Found</h1>
          </div>
          <div class="form-container">
            <div class="login-form">
              <form [formGroup]="loginForm" (ngSubmit)="validateLogin()">
                <img class="email-img" src="../../assets/Images/icons8-phone-30.png" />
                <input 
                  type='text' 
                  placeholder="+92 xxx xxxxxxx"
                  maxlength="13"
                  [style.border-color]="userPhoneF?.invalid && userPhoneF?.touched && userPhoneF?.hasError('pattern') ? 'red' : ''" 
                  formControlName="userPhone"/>
                <button type="submit" class="loginbtn" (click)="getOTP()">Login</button>
                <div id="sign-in-button"></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
