<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="lostandfound-homepage">
      <div class="header-container">
        <app-header></app-header>
      </div>
      <div class="inner-content-container">
        <div class="side-container">
          <div class="navigation-container">
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-cross-45.png" />
              <p (click)="goto('/lostitemspage')">Lost Items</p>
              </div>
              <div class="navigation-link">
                <img src="../../assets/Images/icons8-search-45.png" />
                <p (click)="goto('/founditemspage')">Found Items</p>
              </div>
              <div class="navigation-link">
                <img src="../../assets/Images/icons8-user-45.png" />
                <p (click)="goto('/mypostspage')">My Items</p>
              </div>
              <div class="navigation-link">
                <img src="../../assets/Images/icons8-create-45.png" />
                <p (click)="goto('/newpostpage')">Create Posts</p>
              </div>
              <div class="navigation-link">
                <img src="../../assets/Images/icons8-user-45.png" />
                <p (click)="goto('/myprofilepage')">My Profile</p>
              </div>
              <div class="navigation-link">
                <img  src="../../assets/Images/icons8-pin-50.png" />
                <p (click)="goto('/saveditemspage')">Saved</p>
              </div>
          </div>
        </div>
        <div class="inner-content-div">
          <div class="design-container">
            <div class="items-div">
              <img src="../../assets/Images/Group 10.png" />
              <div class="">
                <p>Lost Items</p>
                <p class="number">217</p>
              </div>
            </div>
            <div class="items-div">
              <img src="../../assets/Images/Group 11.png" />
              <div class="">
                <p>Found Items</p>
                <p class="number">186</p>
              </div>
            </div>
            <div class="items-div">
              <img src="../../assets/Images/Group 12.png" />
              <div class="">
                <p>Items Delivered</p>
                <p class="number">20</p>
              </div>
            </div>
            <div class="items-div">
              <img
                src="../../assets/Images/closed-box-icon-isolated-background-flat-pictogram-business-marketing-internet-flat-style_599062-3372 1.png"
              />
              <div class="">
                <p>Total Posts</p>
                <p class="number">230</p>
              </div>
            </div>
          </div>

          <!-- Details of post component -->
            <div class="post-side-container">
                <div class="my-post">
                  <div class="row">
                    <div class="column">
                      <div style="margin-top: 2%;" class="row">
                        <ngb-carousel>
                          <ng-template ngbSlide *ngFor="let imageUrl of myObject.imageUrls.$values">
                            <div class="picsum-img-wrapper">
                              <img [src]="imageUrl" alt="Random first slide" />
                            </div>
                          </ng-template>
                        </ngb-carousel>
                      </div>

                      <div class="map">
                        <google-map [center]="position">
                          <map-marker [position]="position" [label]="label"></map-marker>
                        </google-map>  
                      </div>
                    </div>
                    <div class="column">
                      <div class="row">
                        <label class="display-flex"> <p class="heading1-name">{{ myObject.name }}</p></label>
                      </div>
                      <div class="row">
                       <div class="heading2-tag">Category: {{ myObject.category }}</div>
                      </div>
                      <div class="row">
                        <label class="heading3-desc">{{ myObject.description }}</label>
                      </div>
                      <div class="row">
                        <div class="heading5-type">{{ myObject.type }} by {{ myObject.username}}.</div>
                      </div>
                      <div class="row">
                        <div class="heading4-matches">Matched Items:</div>
                        <div class="image-list" *ngIf="myObject.matches.length > 0">
                          <div *ngFor="let image of myObject.matches" class="circular-image">
                            <img (click)="viewPostDeatils('/postdetailspage', image.matchedItemId)" [src]="image" alt="Image">
                          </div>
                        </div>
                        <div *ngIf="myObject.matches.length === 0">Text None</div>                        
                      </div>
                      <div class="row">
                        <label class="heading6-location"> <p class="description-fixed">Location:</p> <p class="description">{{myObject.latitude}} , {{myObject.longitude}}</p></label>
                      </div>
                      <div class="row">
                        <label class="heading7-dateTime"> <p class="description-fixed">{{ myObject.type }} at:</p> <p class="description">{{myObject.time}}</p></label>
                      </div>
                      <!-- <div class="row">
                        <label class="heading7-dateTime"> <p class="description-fixed">Resolved Time:</p> <p class="description">{{myObject.resolvedTime}}</p></label>
                      </div> -->
                      <div class="row">
                        <label class="heading8-AIdesc"> <p class="description-fixed">AI Generated Description:</p>  As Dr. Lane races against time to unlock the secrets of this forgotten world, she discovers not only the secrets of the past but also the profound connections that bind us across time. Embark on a quest of discovery, courage, and revelation in this page-turning adventure that challenges the boundaries of knowledge and the power of human curiosity.The Enigma Chronicles: Unveiling the Secrets of a Forgotten World" takes readers on an exhilarating journey through an ancient realm shrouded in mystery. Follow the intrepid archaeologist, Dr. Amelia Lane, as she deciphers cryptic clues and delves into hidden ruins, unearthing a lost civilization's untold stories.</label>
                        <label class="heading9-AItags"> 
                          <p class="description-fixed">AI Generated Tags for this Post:</p>
                          <div style="display:flex">
                            <ng-container *ngFor="let tag of myTags">
                              <span class="description-tags">{{ tag }}</span>
                            </ng-container>
                          </div>
                        </label>
                      </div>
                      <button type="submit" class="loginbtn">Chat with Owner</button>
                    </div>
                  </div>
                </div>
            </div>
        </div>
      </div>
    </section>
  </body>
</html>
