<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="loginSignup">
      <img class="main-image desktop-main-image" src="../../assets/Images/searchimage(2).jpg" />
      <div class="mobile-image">
        <img class="main-image-mobile" src="../../assets/Images/mobileimage.png" />
      </div>
      <div class="scroll-wrapper">
      <div class="container-login">
        <div class="login-signup-container">
          <div class="btn-wrapper">
            <button class="btn" (click)="goToLogin()">Login</button>
            <button class="btn active" id="signupBtn">Sign Up</button>
          </div>
          <div class="form-container">
            <div class="login-form">
              <form [formGroup]="signupForm" (ngSubmit)="onSubmit()">
                <div class="image-upload">
                    <div class="circle-container">
                        <img src="../../assets/Images/avatar.png" id="previewImage" alt="Preview">
                    </div>
                    <input type="file" id="imageInput" accept="image/*">
                    <label for="imageInput" id="uploadLabel"><img src="../../assets/Images/icons8-camera-30.png" >Choose an image</label>
                </div>
                <img class="username-img" src="../../assets/Images/icons8-user-30.png" />
                <input type="text" placeholder="Enter your username" [style.border-color]="userNameF?.invalid && userNameF?.touched ? 'red' : ''" formControlName="userName" />

                <img class="emailSignup-img" src="../../assets/Images/icons8-email-30.png" />
                <input type="email" placeholder="Enter your email" [style.border-color]="userEmailF?.invalid && userEmailF?.touched ? 'red' : ''"formControlName="userEmail"/>

                <img class="phone-img" src="../../assets/Images/icons8-phone-30.png" />
                <input type='text' mask='(000) 000-0000'  placeholder="xx-xxx-xxxxxxx" [style.border-color]="userPhoneF?.invalid && userPhoneF?.touched ? 'red' : ''" formControlName="userPhone" />
          
                <img class="Signuppass-img" src="../../assets/Images/icons8-password-30.png" />
                <input
                  type="password"
                  id="passwordField"
                  placeholder="Enter your password"
                  formControlName="userPassword"
                  [style.border-color]="userPasswordF?.invalid && userPasswordF?.touched ? 'red' : ''"
                  type="{{ isPasswordVisible ? 'text' : 'password' }}"
                />
                <button id="togglePassword" class="signupToggle" (click)="viewPassword()">
                  <img
                  [src]="isPasswordVisible ? '../../assets/Images/icons8-visible-30.png' : '../../assets/Images/icons8-invisible-30.png'"
                  alt="Toggle Password Visibility"
                  id="toggleImage"
                />
                </button>
                <img class="Signuppassconfirm-img" src="../../assets/Images/icons8-password-30.png" />
                <input
                  type="password"
                  id="passwordFieldconfirm"
                  placeholder="Confirm password"
                  [style.border-color]="userPasswordConfirmF?.invalid && userPasswordConfirmF?.touched ? 'red' : ''"
                  type="{{ isPasswordVisibleConfirm ? 'text' : 'password' }}"
                  formControlName="userPasswordConfirm"
                />
                <button id="togglePassword" class="signupToggleconfirm" (click)="viewPasswordConfirm()">
                  <img
                    [src]="isPasswordVisibleConfirm ? '../../assets/Images/icons8-visible-30.png' : '../../assets/Images/icons8-invisible-30.png'"
                    alt="Show Password"
                    id="toggleImageConfirm"
                  />
                </button>
                <div class="dropdown">
                    <select id="communityDropdown" formControlName="userCommunity">
                        <option value="" disabled selected>Select a Location</option>
                        <option value="community1">Islamabad</option>
                        <option value="community2">Lahore</option>
                        <option value="community3">Peshawar</option>
                        <option value="community4">Karachi</option>
                    </select>
                </div>
                <button type="submit" class="loginbtn">Signup</button>
              </form>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </body>
</html>
