body {
  margin: 0px;
  padding: 0px;
  background: rgba(231, 244, 252, 0.64);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0px;
}
p {
  margin: 0px;
}
.header-flexbox {
  display: flex;
  justify-content: space-between;
  padding: 1.458vw 2.708vw;
}
.logoimg img {
  width: 64%;
}
.items-flexbox {
  display: flex;
}
.notification-icon img,
.logout-icon img {
  width: 53%;
  padding-top: 32%;
  cursor: pointer;
}
.image-username-flex img {
  width: 32%;
}
.image-username-flex {
  display: flex;
  gap: 1vw;
}
.heading-block {
  padding-top: 8%;
}
.circular-image-container {
  width: 50px; /* Set the width of the circular container */
  height: 50px; /* Set the height of the circular container */
  border-radius: 50%; /* Create a circular shape by setting border-radius to 50% */
  overflow: hidden; /* Hide any image content outside the circular container */
  cursor: pointer; /* Add a pointer cursor for interaction */
}

.circular-image {
  width: 100%; /* Make the image fill the circular container */
  height: 100%; /* Make the image fill the circular container */
  object-fit: cover; /* Maintain aspect ratio and cover the circular area */
}

.heading-block h6 {
  color: #000;
  font-family: "Barlow", sans-serif;
  font-size: 0.938vw;
  font-style: normal;
  margin-top: 5px;
  font-weight: 700;
  line-height: normal;
}
.heading-block p {
  color: #939393;
  font-family: "Barlow", sans-serif;
  font-size: 0.833vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

/* inner container */
.inner-content-container {
  display: flex;
}
.side-container {
  padding: 2vw;
}
.navigation-link {
  display: flex;
  gap: 1.5vw;
  cursor: pointer;
  padding: 1.3vw;
  border-radius: 1.5rem;
}
.navigation-link:hover {
  background: #2e80e0;
}
.navigation-container {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}
.navigation-link p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.458vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.navigation-link img {
  width: 13%;
}
.inner-content-div {
  display: flex;
  flex-direction: column;
  width: 78%;
}
.design-container {
  border-radius: 0.9375rem;
  background: #fff;
  box-shadow: 0px 4px 19px 0px rgba(0, 0, 0, 0.11);
  display: flex;
  padding: 2vw;
  justify-content: space-between;
}
.items-div {
  display: flex;
  gap: 1.5vw;
}
.items-div img {
  width: 50px;
  height: 50px;
}
.items-div p {
  color: #7b7b7b;
  font-family: "Roboto", sans-serif;
  font-size: 1.258vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.number {
  font-size: 1.558vw !important;
  color: black !important;
}
.my-post {
  border-radius: 0.9375rem;
  /* background: #fff; */
  background-color: transparent;
  /* box-shadow: 0px 4px 26px 0px rgba(0, 0, 0, 0.11); */
  padding: 3vw;
  width: 68%;
  margin-left: -4%;
  margin-top: -6%;
}
.post-side-container {
  display: flex;
  gap: 1vw;
  margin-top: 1.4vw;
}
.my-profile-detail {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center; /* Center the content vertically */
  margin: auto;
  background-color: rgb(223, 222, 222);
  /* display: flex;
  background-color: red;
  gap: 1vw;
  padding: 15px;
  overflow: hidden;
  border-radius: 120px;
  align-items: center;
  margin-top: 2%;
  display: flex; */
}
.my-profile-detail img {
  width: 100px;
  height: 150px;
  margin: auto;
  margin-top: 3px;
  margin-bottom: 5px;
}
/* .my-profile-detail p {
  color: #000;
  font-family: "Barlow", sans-serif;
  font-size: 1.823vw;
  font-style: normal;
  /* font-weight: 700; 
  line-height: normal;
} */
.my-profile-content{
  align-self: center;
  margin: auto;
}

.details-username {
  font-size: 1.223vw !important;
  color: #7b7b7b !important;
  font-weight: 500 !important;
}


.my-feed {
  margin-top: 2vw;
  max-height: 300px;
  overflow-y: scroll;
  border-radius: 15px;
  font-family: "Georgia", Times, serif;
}
::-webkit-scrollbar {
  width: 8px; /* Width of the scroll bar */
}

/* Track (the area behind the thumb) */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Thumb (the draggable scrolling handle) */
::-webkit-scrollbar-thumb {
  background: #3498db;
  border-radius: 5px;
}

/* On hover, make the thumb darker */
::-webkit-scrollbar-thumb:hover {
  background: #2073b7;
}
.blue-design-div {
  position: relative;
}
.blue-design-div h1 {
  color: #fff;
  font-family: "Barlow", sans-serif;
  font-size: 2.344vw;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  top: 16%;
  left: 10%;
  bottom: 0px;
  width: 80%;
}
.btns-founflost {
  display: flex;
}

.btns-founflost button {
  padding: 0.521vw 1.042vw;
  cursor: pointer;
  border: none;
  background: #e9e9e9;
  box-shadow: 0px 4px 38px 0px rgba(0, 0, 0, 0.11) inset;
  width: 100%;
  color: rgba(0, 0, 0, 0.37);
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Barlow", sans-serif;
  font-size: 1.4vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 20px;
}
.btns-founflost .active {
  background: linear-gradient(90deg, #72baec 0%, #54a6de 100%);
  color: #ffffff;
}
.Found-item {
  border-radius: 0rem 0.75rem 0.75rem 0rem !important;
}
.lost-item {
  border-radius: 0.75rem 0rem 0rem 0.75rem !important;
}
.Add-Photo-container {
  border: 1px dashed #034fa8;
  background: #fff;
  padding: 3vw;
  margin-top: 2vw;
  border-radius: 9px;
  margin-bottom: 2vw;
}
.image-upload {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.inputbtn {
  background-color: transparent;
}
.dropdown {
  display: flex;
  gap: 1vw;
  align-items: center;
  margin-top: 2vw;
}
#communityDropdown {
  width: 50%;
  font-size: 16px;
  border-radius: 0.875rem;
  border: 1px solid #c3c3c3;
  background: #fff;
  padding: 1.042vw;
}
#communityDropdown option {
  padding: 10px;
  font-size: 16px;
  background-color: #f9f9f9;
  color: #333;
  border: none;
}
.measurements,
.color {
  display: flex;
  align-items: center;
  gap: 1vw;
  margin-top: 2vw;
}
.color {
  margin-top: 0vw;
}
.dropdown p,
.measurements p,
.input-container p, .my-feed-grid p {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.3vw;
  font-style: normal;
  /* font-weight: 400; */
  line-height: normal;
}
.my-feed-grid p{
  margin-top: 2%;
  /* font-weight: bold; */
}
.my-feed-grid span{
  font-weight: 400;
}
.measurements input,
.input-container input,
.search-container input, .edit-input-form input {
  max-width: 100%;
  border-radius: 0.875rem;
  border: 1px solid #c3c3c3;
  background: #fff;
  padding: 1.042vw;
}
.edit-input-form input{
  width: 50%;;
  margin-top: 2vw;
}
.search-container input {
  border-radius: 0.4rem 0rem 0rem 0.4rem;
  width: 80%;
}
.search-container {
  display: flex;
}
.input-container {
  display: flex;
  flex-direction: column;
  gap: 1vw;
  margin-top: 2vw;
}
.input-container input {
  width: 60%;
}
.measurements input::placeholder,
.input-container input::placeholder,
.search-container input::placeholder {
  color: #aeadad;
  font-family: "Roboto", sans-serif;
  font-size: 1vw;
  font-style: italic;
  font-weight: 300;
  line-height: 138.5%; /* 1.90438rem */
  letter-spacing: 0.04813rem;
}
.description-div {
  height: 120px;
  width: 70% !important;
}
.location-btn {
  width: 30%;
  border-radius: 0.5625rem;
  background: #37c155;
  color: #fff;
  font-family: "Robot", sans-serif;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 500;
  line-height: 138.5%; /* 2.68344rem */
  letter-spacing: 0.06781rem;
  padding: 0.781vw;
  border: 1px solid #37c155;
  margin-top: 1vw;
  cursor: pointer;
}
.location-btn:hover {
  background: #3ede62;
  border: 1px solid #3ede62;
}
.my-feed-div {
  max-height: 360px;
  overflow-y: scroll;
  padding-right: 16px;
}
.search-button {
  background: #034fa8;
  border: 1px solid #034fa8;
  border-radius: 0rem 0.4rem 0.4rem 0rem;
}
.search-button img {
  width: 60%;
}
table {
  width: 100%;
}
.heading-row-table {
  display: flex;
  justify-content: space-between;
}
.heading-row-table th {
  color: #000;
  font-family: "Roboto", sans-serif;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.my-feed-grid button:hover{
  background: #18d04c;
  border: 1px solid #18d04c;
}
.image-upload-container{
  text-align: center;
  display: flex;
  flex-direction: row;
  margin-top: 8%;
  align-items: center;
}
.circle-container {
  /* width: 30%;
  height: 30%;
  overflow: hidden;
  border-radius: 50%; */
  width: 112px;
  height: 112px;
  overflow: hidden;
  border-radius: 50px;
}

#previewImage {
  width: 100%;
  height: auto;
}
  
.edit-table{
    display: none;
    /* display: block; */
}

.row {
  display: flex;
  border-radius: 15px;
  margin-right: 10px;
  background-color: white;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
}

.row1 {
  display: flex;
  border-radius: 15px;
  margin-right: 10px;
  background-color: white;
  margin-bottom: -10px;
  /* border: 1px solid #ccc;   */
}

.row1:first-child{
  margin-top: 10px;
}
.column {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}
.column1 {
  flex: 1;
  padding: 10px;
  box-sizing: border-box;
}
.column:first-child {
  flex: 1.0;
  margin-top: 1%;
  padding: 25px;
}
.column:first-child p {
  flex: 1.3;
  color:#7b7b7b;
  font-weight: bold;
  margin-left: 30px; 
  margin-top: 5%;
}
.column:last-child {
  flex: 2.7; /* Adjust the value to make the second column bigger */
}

.column1:first-child p{
  flex: 1;
  color:#7b7b7b;
}
.column1:last-child {
  flex: 1.5; 
  padding: 14px;
}

.display-profile-detail{
  width: 150px;
  border-radius: 0.875rem;
}

.edit-prof-btn{
  /* padding: 0.521vw 1.042vw; */
  cursor: pointer;
  border: none;
  color: white;
  background: #03a832;
  border: 1px solid #03a832;
  border-radius: 0.4rem;
  box-shadow: 0px 4px 38px 0px rgba(0, 0, 0, 0.11) inset;
  width: 60%;
  height: 15%;
  transition: background-color 0.3s ease, color 0.3s ease;
  font-family: "Barlow", sans-serif;
  font-size: 1.2vw;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  border-radius: 5px;
  margin-left: 12%;
  margin-bottom: 3%;
  margin-top:3%
}
