.header-flexbox {
    display: flex;
    justify-content: space-between;
    padding: 1.458vw 2.708vw;
  }
  .logoimg img {
    width: 64%;
  }
  .items-flexbox {
    display: flex;
  }
  .notification-icon img,
  .logout-icon img {
    width: 53%;
    padding-top: 32%;
    cursor: pointer;
  }
  
  .image-username-flex {
    display: flex;
  }
  
  .heading-block {
    padding-top: 8%;

  }
  .heading-block h6 {
    color: #000;
    font-family: "Barlow", sans-serif;
    font-size: 0.938vw;
    font-style: normal;
    font-weight: 700;
    margin-top: 5px;
    margin-left: 5px;
    line-height: normal;
  }
  .circular-image-container {
    margin-top: 3px;
    width: 50px; /* Set the width of the circular container */
    height: 50px; /* Set the height of the circular container */
    border-radius: 50%; /* Create a circular shape by setting border-radius to 50% */
    overflow: hidden; /* Hide any image content outside the circular container */
    cursor: pointer; /* Add a pointer cursor for interaction */
  }
  .circular-image {
    width: 100%; /* Make the image fill the circular container */
    height: 100%; /* Make the image fill the circular container */
    object-fit: cover; /* Maintain aspect ratio and cover the circular area */
  }
  
  .heading-block p {
    color: #939393;
    margin-top: -5px;
    margin-left: 5px;
    font-family: "Barlow", sans-serif;
    font-size: 0.833vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  