<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="lostandfound-homepage">
      <div class="header-container">
        <div class="header-flexbox">
          <div class="logoimg">
            <img src="../../assets/Images/Group 2.png" />
          </div>
          <div class="items-flexbox">
            <div class="notification-icon">
              <img src="../../assets/Images/icons8-bell-50.png" />
            </div>
            <div class="logout-icon">
              <img src="../../assets/Images/icons8-logout-50 (1).png" />
            </div>
            <div class="image-username-flex">
              <img src="../../assets/Images/Ellipse 1.png" />
              <div class="heading-block">
                <h6>David Parker</h6>
                <p>@username</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="inner-content-container">
        <div class="side-container">
          <div class="navigation-container">
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-cross-45.png" />
              <p>Lost Items</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-search-45.png" />
              <p>Found Items</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-item-45.png" />
              <p>My Items</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-create-45.png" />
              <p>Create Posts</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-user-45.png" />
              <p>My Profile</p>
            </div>
          </div>
        </div>
        <div class="inner-content-div">
          <div class="design-container">
            <div class="items-div">
              <img src="../../assets/Images/Group 10.png" />
              <div class="">
                <p>Lost Items</p>
                <p class="number">217</p>
              </div>
            </div>
            <div class="items-div">
              <img src="../../assets/Images/Group 11.png" />
              <div class="">
                <p>Found Items</p>
                <p class="number">186</p>
              </div>
            </div>
            <div class="items-div">
              <img src="../../assets/Images/Group 12.png" />
              <div class="">
                <p>Items Delivered</p>
                <p class="number">20</p>
              </div>
            </div>
            <div class="items-div">
              <img
                src="../../assets/Images/closed-box-icon-isolated-background-flat-pictogram-business-marketing-internet-flat-style_599062-3372 1.png"
              />
              <div class="">
                <p>Total Posts</p>
                <p class="number">230</p>
              </div>
            </div>
          </div>

          <!-- Details of edit profile component -->
          <div class="post-side-container">
            <div class="my-post">  
              <div class="my-feed">
                <div class="my-feed-grid"> 
                    <form class="editForm" [formGroup]="editProfForm">
                        <div class="container">
                            <div class="row">
                                <div class="column">
                                  <div class="image-upload-container">
                                    <div class="circle-container">
                                      <img
                                        [src]="previewImageUrl"                                                
                                        id="previewImage"
                                        alt="Preview"/>
                                    </div>
                                  </div>
                                </div>
                                <div class="column">
                                  <!-- <h1>Edit My Profile</h1> -->
                                  <p style="color:black">Upload New Picture:</p>
                                  <input 
                                    class="edit-input-pic" 
                                    type="file" 
                                    id="imageInput" 
                                    (change)="onImageSelected($event)" 
                                    accept="image/*" 
                                    formControlName="editImage"
                                  />
                                </div>
                            </div>
                           
                            <div class="edit-input-form">
                            <div class="row">
                                <div class="column">
                                    <p>Username:</p>
                                </div>
                                <div class="column">
                                    <input type="text" formControlName="editName" placeholder="Enter your username" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <p>Phone Number:</p>
                                </div>
                                <div class="column">
                                    <input 
                                      type='text' 
                                      placeholder="+92 xxx xxxxxxx"
                                      maxlength="13"
                                      readonly
                                      formControlName="editNumber" 
                                      placeholder="Enter your phone number" 
                                    />
                                </div>
                            </div>
                            <div class="row">
                                <div class="column">
                                    <p>Address:</p>
                                </div>
                                <div class="column">
                                    <input
                                    type="text"
                                    formControlName="editAddress"
                                    placeholder={{editAddressF}}/> 
                                </div>                           
                            </div>
                            <div class="row">
                                <div class="column">
                                    <p>Community:</p>
                                </div>
                                <div class="column">
                                    <div class="dropdown">
                                        <select id="communityDropdown" formControlName="editCommunity">
                                          <option value="" disabled selected>
                                            Select a Community
                                          </option>
                                          <option value="community1">Community 1</option>
                                          <option value="community2">Community 2</option>
                                          <option value="community3">Community 3</option>
                                          <option value="community4">Community 4</option>
                                        </select>
                                    </div>  
                                </div>                           
                              </div>
                              <div class="row">
                                <button class="edit-prof-btn" (click)="gotoProfile()"> Update Profile</button>
                              </div>
                            </div>                          
                        </div> 
                      </form>
                    </div>
                  </div>
                </div>
              <div class="blue-design-div">
                <img src="../../assets/Images/blue.png" />
                <h1>WELCOME TO OUR LOST AND FOUND APP</h1>
              </div>
            </div>
          </div>
        </div>
      </section>
    </body>
</html>
