<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="loginSignup">
      <img class="main-image desktop-main-image" src="../../assets/Images/searchimage(2).jpg" />
      <div class="mobile-image">
        <img class="main-image-mobile" src="../../assets/Images/mobileimage.png" />
      </div>
      <div class="scroll-wrapper">
      <div class="container-login">
        <div class="login-signup-container">
          <div class="">
            <h1 class="logo-style">Lost & Found</h1>
          </div>
          <div class="form-container">
            <div class="login-form">
              <div>
                <ng-otp-input (onInputChange)="onOtpEntry($event)" [config]="config" style="text-align: justify;"></ng-otp-input>
              </div>
                <button class="loginbtn" (click)="handleClick()">Verify</button>
            </div>
          </div>
        </div>
      </div>
      </div>
    </section>
  </body>
</html>
