<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <section class="lostandfound-homepage">
      <div class="header-container">
        <app-header></app-header>
      </div>
      <div class="inner-content-container">
        <div class="side-container">
          <div class="navigation-container">
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-cross-45.png" />
              <p (click)="goto('/lostitemspage')">Lost Items</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-search-45.png" />
              <p (click)="goto('/founditemspage')">Found Items</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-user-45.png" />
              <p (click)="goto('/mypostspage')">My Items</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-create-45.png" />
              <p (click)="goto('/newpostpage')">Create Posts</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-user-45.png" />
              <p (click)="goto('/myprofilepage')">My Profile</p>
            </div>
            <div class="navigation-link">
              <img src="../../assets/Images/icons8-pin-50.png" />
              <p (click)="goto('/saveditemspage')">Saved</p>
            </div>
          </div>
        </div>
        <div class="inner-content-div">
          <div class="design-container">
            <div class="items-div">
              <img src="../../assets/Images/Group 10.png" />
              <div class="">
                <p>Lost Items</p>
                <p class="number">217</p>
              </div>
            </div>
            <div class="items-div">
              <img src="../../assets/Images/Group 11.png" />
              <div class="">
                <p>Found Items</p>
                <p class="number">186</p>
              </div>
            </div>
            <div class="items-div">
              <img src="../../assets/Images/Group 12.png" />
              <div class="">
                <p>Items Delivered</p>
                <p class="number">20</p>
              </div>
            </div>
            <div class="items-div">
              <img
                src="../../assets/Images/closed-box-icon-isolated-background-flat-pictogram-business-marketing-internet-flat-style_599062-3372 1.png"
              />
              <div class="">
                <p>Total Posts</p>
                <p class="number">230</p>
              </div>
            </div>
          </div>

          <!-- Details of edit profile component -->
          <div class="post-side-container">
            <div class="my-post">  
              <div class="my-feed">
                <div class="my-feed-grid"> 
                    <form class="editForm" [formGroup]="editProfForm">
                        <!-- <h1 class="prof-heading">Profile</h1> -->
                        <div class="row">
                          <div class="column">
                            <div class="row">
                              <p>Username:</p>
                            </div>
                            <div class="row1">
                              <input class="underlined-input" type="text" formControlName="editName" placeholder="Enter your username" />                          
                            </div>
                            <div class="line"></div>
                            <div class="row">
                              <p>Phone Number:</p>
                            </div>
                            <div class="row1">
                                <input 
                                  type='text' 
                                  class="underlined-input"
                                  placeholder="+92 xxx xxxxxxx"
                                  maxlength="13"
                                  readonly
                                  formControlName="editNumber" 
                                  placeholder="Enter your phone number" 
                                />
                            </div>
                            <div class="line"></div>
                          </div>
                          <div class="column">
                            <div class="row">
                              <p>Address:</p>
                            </div>
                            <div class="row1">
                              <input
                                type="text"
                                class="underlined-input"
                                formControlName="editAddress"
                                placeholder="Enter your address"
                              /> 
                            </div>
                            <div class="line"></div>
                            <div class="row">
                              <p>Community:</p>
                            </div>
                            <!-- <div class="row1"> -->
                              <div class="dropdown">
                                <select id="communityDropdown" formControlName="editCommunity">
                                  <option value="" disabled>
                                    Select Community
                                  </option>
                                  <option value="Islamabad">Islamabad</option>
                                  <option value="Rawalpindi">Rawalpindi</option>
                                  <option value="Karachi">Karachi</option>
                                  <option value="Peshawar">Peshawar</option>
                                  <option value="Lahore">Lahore</option>
                                  <option value="Quetta">Quetta</option>
                                </select>
                              </div>
                              <div class="row1">
                                <div class="lineLast"></div>
                              </div>
                              <div class="row2">
                                <button class="edit-prof-btn" (click)="onSubmission()"> Update Profile</button>
                              </div>
                          </div>
                          <div class="column">
                            <div class="row">
                              <div class="image-upload-container">
                                <div class="circle-container">
                                  <img
                                    [src]="previewImageUrl"                                                
                                    id="previewImage"
                                    
                                    class="resize-image"
                                  />
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="edit-input-pic">
                                <label class="file-input-label">
                                  Choose an Image
                                  <input
                                    type="file"
                                    id="imageInput"
                                    (change)="onImageSelected($event)"
                                    accept="image/*"
                                    #imageInputRef
                                  />
                                </label>
                              </div>
                            </div>
                           </div> 
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              <!-- <div class="blue-design-div">
                <img src="../../assets/Images/blue.png" />
                <h1>WELCOME TO OUR LOST AND FOUND APP</h1>
              </div> -->
            </div>
          </div>
        </div>
        <app-footer></app-footer>
      </section>
    </body>
</html>
